# Dependencies
/node_modules

# Build & Test outputs
*.tsbuildinfo
.nyc_output
/.cache
/coverage
/dist
/stats.html
__generated__
junit.xml

# Environment & Config
!.env.example
.env
.env.*
/.vscode

# System & Temp
*.log
*.temp
*.tmp
.DS_Store
/temp