# folder
.history
.idea
.temp
.vscode
data/sync
script
secret
source
src
storage
task
temp
test
# file
*.coffee
*.map
*.md
*.ts
.eslintrc.yaml
.stylintrc
coffeelint.json
tsconfig.json
tslint.json
# inlcude
!*.d.ts